<div class="container">
  <app-accordion class="accordion">
    <app-accordion-group *ngFor="let section of data" class="card">
      <app-accordion-header class="card-header"> {{ section.title }} </app-accordion-header>
      <app-accordion-content>
        <div class="card-body">{{ section.description }}</div>
        <!-- <app-accordion
          class="accordion"
          style="margin-left: 20px;
        display: block;"
        >
          <app-accordion-group *ngFor="let section of data" class="card">
            <app-accordion-header class="card-header"> {{ section.title }} </app-accordion-header>
            <app-accordion-content>
              <div class="card-body">{{ section.description }}</div>
            </app-accordion-content>
          </app-accordion-group>
        </app-accordion> -->
      </app-accordion-content>
    </app-accordion-group>
  </app-accordion>
</div>
